## 학습목표
- concat 함수를 활용하여 dataframe 병합시키기

In [1]:
import pandas as pd
import numpy as np

### concat 함수를 사용하여 dataframe 병합하기
- pandas.concat 함수
- 축을 따라 dataframe을 병합 가능
    - 기본 axis = 0 -> 행단위 병합

- column 명이 같은 경우

In [3]:
df1 = pd.DataFrame({'key1':np.arange(10), 'value1':np.random.randn(10)})
df1

   key1    value1
0     0  0.716396
1     1  1.367851
2     2 -1.194242
3     3 -0.211450
4     4  2.856335
5     5  0.916399
6     6  0.145382
7     7 -0.903607
8     8  1.702109
9     9  1.192339

In [5]:
df2 = pd.DataFrame({'key1':np.arange(10), 'value1': np.random.randn(10)})
df2

   key1    value1
0     0  2.173642
1     1  1.264971
2     2 -0.137433
3     3  2.357403
4     4  0.397432
5     5 -1.562571
6     6 -0.013473
7     7 -0.200453
8     8 -0.913399
9     9 -1.105309

In [6]:
pd.concat([df1, df2])

   key1    value1
0     0  0.716396
1     1  1.367851
2     2 -1.194242
3     3 -0.211450
4     4  2.856335
5     5  0.916399
6     6  0.145382
7     7 -0.903607
8     8  1.702109
9     9  1.192339
0     0  2.173642
1     1  1.264971
2     2 -0.137433
3     3  2.357403
4     4  0.397432
5     5 -1.562571
6     6 -0.013473
7     7 -0.200453
8     8 -0.913399
9     9 -1.105309

In [7]:
pd.concat([df1, df2], ignore_index=True)

    key1    value1
0      0  0.716396
1      1  1.367851
2      2 -1.194242
3      3 -0.211450
4      4  2.856335
5      5  0.916399
6      6  0.145382
7      7 -0.903607
8      8  1.702109
9      9  1.192339
10     0  2.173642
11     1  1.264971
12     2 -0.137433
13     3  2.357403
14     4  0.397432
15     5 -1.562571
16     6 -0.013473
17     7 -0.200453
18     8 -0.913399
19     9 -1.105309

In [8]:
pd.concat([df1, df2], axis=0)

   key1    value1
0     0  0.716396
1     1  1.367851
2     2 -1.194242
3     3 -0.211450
4     4  2.856335
5     5  0.916399
6     6  0.145382
7     7 -0.903607
8     8  1.702109
9     9  1.192339
0     0  2.173642
1     1  1.264971
2     2 -0.137433
3     3  2.357403
4     4  0.397432
5     5 -1.562571
6     6 -0.013473
7     7 -0.200453
8     8 -0.913399
9     9 -1.105309

In [9]:
pd.concat([df1, df2], axis=1)

   key1    value1  key1    value1
0     0  0.716396     0  2.173642
1     1  1.367851     1  1.264971
2     2 -1.194242     2 -0.137433
3     3 -0.211450     3  2.357403
4     4  2.856335     4  0.397432
5     5  0.916399     5 -1.562571
6     6  0.145382     6 -0.013473
7     7 -0.903607     7 -0.200453
8     8  1.702109     8 -0.913399
9     9  1.192339     9 -1.105309

- column명이 다른 경우

In [10]:
df3 = pd.DataFrame({'key2':np.arange(10), 'value2':np.random.randn(10)})
df3

   key2    value2
0     0  0.492815
1     1 -0.230932
2     2 -0.100488
3     3 -0.267125
4     4 -0.411834
5     5 -2.241356
6     6 -1.586901
7     7  1.058168
8     8  1.763455
9     9  0.061669

In [11]:
pd.concat([df1, df3])

   key1    value1  key2    value2
0   0.0  0.716396   NaN       NaN
1   1.0  1.367851   NaN       NaN
2   2.0 -1.194242   NaN       NaN
3   3.0 -0.211450   NaN       NaN
4   4.0  2.856335   NaN       NaN
5   5.0  0.916399   NaN       NaN
6   6.0  0.145382   NaN       NaN
7   7.0 -0.903607   NaN       NaN
8   8.0  1.702109   NaN       NaN
9   9.0  1.192339   NaN       NaN
0   NaN       NaN   0.0  0.492815
1   NaN       NaN   1.0 -0.230932
2   NaN       NaN   2.0 -0.100488
3   NaN       NaN   3.0 -0.267125
4   NaN       NaN   4.0 -0.411834
5   NaN       NaN   5.0 -2.241356
6   NaN       NaN   6.0 -1.586901
7   NaN       NaN   7.0  1.058168
8   NaN       NaN   8.0  1.763455
9   NaN       NaN   9.0  0.061669

In [12]:
pd.concat([df1, df3], axis=1)

   key1    value1  key2    value2
0     0  0.716396     0  0.492815
1     1  1.367851     1 -0.230932
2     2 -1.194242     2 -0.100488
3     3 -0.211450     3 -0.267125
4     4  2.856335     4 -0.411834
5     5  0.916399     5 -2.241356
6     6  0.145382     6 -1.586901
7     7 -0.903607     7  1.058168
8     8  1.702109     8  1.763455
9     9  1.192339     9  0.061669