## 학습목표
- Series 데이터 변경 & 슬라이싱 하기

In [1]:
import numpy as np
import pandas as pd

### Series 값 변경
- 추가 및 업데이터 : 인덱스를 이용
- 삭제: drop 함수를 이용

In [2]:
s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [3]:
s['a'] = 200
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [4]:
s['k'] = 300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [6]:
s.drop('k')

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [7]:
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [8]:
s.drop('k', inplace=True)

In [9]:
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [11]:
s[['a', 'b']] = [300, 900]

In [12]:
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

### Series Slicing
- 리스트, ndarray와 동일

In [14]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [15]:
s1[1:3]

1    101
2    102
dtype: int64

In [19]:
s2 = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [17]:
s2[1:3]

b    101
c    102
dtype: int64

In [18]:
s2['c':'d']

c    102
d    103
dtype: int64